.page-header {
    border-bottom: solid 1px var(--header-border-color);
    padding: 16px 0;

    &__flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
}



.logo {
    font-family: var(--font-logo);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

    &_blue {
            color: var(--primary-logo-color);
        }
    
    &_black {
            color: var(--secondary-logo-color);
        }
    
    &_white {
            color: var(--secondary-logo-color-footer);
        }
}

.site-nav {
    display: none;
}

.contacts {
    display: none;
}

.open-mobile-menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.menu-nav {
    display: block;

    &__link {
        display: block;
            color: var(--primary-text-color);
            text-decoration: none;
            font-weight: 500;
            line-height: 1.14;
            letter-spacing: 0.02em;
            transition: color var(--translate-options);
        }

    &__link:hover,
    &__link:focus {
            color: var(--hover-focus-color);
        }
    
    &__link_studio_current {
            color: var(--hover-focus-color);
        }

    &__link_portfolio_current {
            color: var(--hover-focus-color);
        }
}

.menu-contacts {
display: block;

    &__link {
        display: block;
        color: var(--secondary-text-color);
        text-decoration: none;
        font-weight: 500;
        line-height: 1.172; 
        letter-spacing: 0.02em;
        transition: color var(--translate-options);
    }

    &__link:hover,
    &__link:focus {
        color: var(--hover-focus-color);
    }
}



.menu-social-networks {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-social-networks__link {
    text-decoration: none;
    color: var(--accent-color);
}

.menu-social-networks__item:not(:last-child) {
padding-right: 10px;
border-right: 1px solid rgba(33, 33, 33, 0.2);

}