.hero-section {
    max-width: 1600px;
    margin: 0 auto;
    padding: 200px 0;
    background-color: var(--hero-section-bg-color);
    text-align: center;

    &__title {
            width: 696px;
            margin: 0 auto 30px;
    
            color: var(--hero-title-color);
            font-weight: 900;
            font-size: 44px;
            line-height: 1.36;
            text-align: center;
            text-transform: uppercase;
            letter-spacing: 0.06em;
        }

    &__button {
            padding: 10px 32px;
            border-radius: 4px;
            border: none;
            min-width: 200px;
    
            color: var(--hero-button-text-color);
            font-weight: 700;
            font-size: 16px;
            line-height: 1.88;
            letter-spacing: 0.06em;
            text-align: center;
            background-color: var(--hero-button-bg-color);
            cursor: pointer;
        }

background-image: linear-gradient(rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
url("../../images/hero-bg/mobile/hero-mobile-bg.jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;

}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
(min-resolution: 192dpi) and (max-width: 767px),
(min-resolution: 2dppx) and (max-width: 767px) {

    .hero-section {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../../images/hero-bg/mobile/hero-mobile-bg@2x.jpg");
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../../images/hero-bg/tablet/hero-tablet-bg.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px),
(min-resolution: 2dppx) and (min-width: 768px) {
    .hero-section {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../../images/hero-bg/tablet/hero-tablet-bg@2x.jpg");
    }
}

@media screen and (min-width: 1200px) {
    .hero-section {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../../images/hero-bg/desktop/hero-desktop-bg.jpg");
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
(min-resolution: 192dpi) and (min-width: 1200px),
(min-resolution: 2dppx) and (min-width: 1200px) {
    .hero-section {
        background-image:
            linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url("../../images/hero-bg/desktop/hero-desktop-bg@2x.jpg");
    }
}




    

    