
// team mobile
.team {
    background-color: var(--team-section-bg-color);



&-list {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            
        }

        .item {
            display: block;
            width: 100%;
        }

        .wrapper {
            display: block;
            width: 100%;
            border-radius: 0 0 4px 4px;
            background-color: var(--team-section-box-bg-color);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            &:not(:last-child) {
                    margin-bottom: 30px;
                }
        }

        .photo {
            padding-bottom: 30px;
            width: 100%;
        }

        .name {
            display: block;
            color: var(--primary-text-color);
            font-weight: 500;
            font-size: 16px;
            line-height: 1.17;
            text-align: center;
            margin-bottom: 10px;
        }

        .position {
            display: block;
            padding-bottom: 16px;

            color: var(--secondary-text-color);
            font-size: 16px;
            line-height: 1.17;
            text-align: center;
        }
}




.social-networks-list {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    gap: 10px;

    .link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            width: 44px;
            border: none;
            border-radius: 50%;
            color: var(--icon-team-section-color);
            transition: color var(--translate-options),
            background-color var(--translate-options);
        }

    .icon {
            fill: currentColor;
        }

    .link:hover,
    .link:focus {
            background-color: var(--icon-main-hover-color);
            color: var(--icon-secondary-hover-color);
        }
}



// team tablet
@media screen and (min-width: 768px) {

    .team-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin-right: 30px;
            margin-bottom: 30px;
            width: calc((100% - 60px) / 2);}
        
        
}
}    






// team desktop
@media screen and (min-width: 1200px) {
.team {
        background-color: var(--team-section-bg-color);

        &-list {

            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: baseline;
            
            .wrapper {
                    width: 270px;
                    height: 428px;
                    border-radius: 0 0 4px 4px;
                    background-color: var(--team-section-box-bg-color);
                    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                    &:not(:last-child) {
                            margin-bottom: 0;
                        }
                }
        }

        

        .photo {
            padding-bottom: 30px;
        }

        .name {
            color: var(--primary-text-color);
            font-weight: 500;
            font-size: 16px;
            line-height: 1.17;
            text-align: center;
            margin-bottom: 10px;
        }

        .position {
            padding-bottom: 16px;

            color: var(--secondary-text-color);
            font-size: 16px;
            line-height: 1.17;
            text-align: center;
        }
    }




    .social-networks-list {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;
        gap: 10px;

        .link {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 44px;
            width: 44px;
            border: none;
            border-radius: 50%;
            color: var(--icon-team-section-color);
            transition: color var(--translate-options),
                background-color var(--translate-options);
        }

        .icon {
            fill: currentColor;
        }

        .link:hover,
        .link:focus {
            background-color: var(--icon-main-hover-color);
            color: var(--icon-secondary-hover-color);
        }
    }
}

