.mobile-menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity var(--translate-options),
                visibility var(--translate-options);

    @media screen and (min-width: 768px) {
        display: none;
    }

}

.mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

// .mobile-menu__container {
//     position: relative;
// }

.mobile-menu__close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    top: 10px;
    right: 15px;
    padding: 0; 
    cursor: pointer; 
    transition: fill var(--translate-options);

    &:focus,
    &:hover {
            fill: var(--accent-color);
        }
}

.menu-nav {
    display: block;
    padding-left: 25px;
    margin-bottom: 302px;

    // &__item {
    //     display: block;
    //     width: 95%;
    // }
    

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

    &__link {
        color: var(--primary-text-color);
        text-decoration: none;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.172;
        letter-spacing: 0.02em;
        transition: color var(--translate-options);
    }

    &__link_studio_current {
        color: var(--hover-focus-color);
    }

    &__link_portfolio_current {
        color: var(--hover-focus-color);
    }
}

.menu-contacts {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding-left: 25px;
    margin-bottom: 64px;



    &__link {
        display: flex;

        color: var(--secondary-text-color);
        text-decoration: none;
        font-size: 24px;
        font-weight: 500;
        line-height: 1.172;
        letter-spacing: 0.02em;

        @media screen and (min-width: 320px) and (max-width: 450px) {
                font-size: 24px;
            }


    }

    &__link_accent {
        color: var(--accent-color);
        font-size: 34px;
        margin-bottom: 32px;

        @media screen and (min-width: 320px) and (max-width: 450px) {
                font-size: 28px;
            }

    }
}



.menu-social-networks {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 25px;
    @media screen and (min-width: 320px) and (max-width: 450px) {
            gap: 5px;
            padding-left: 5px;
        }
}

.menu-social-networks__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 1.222;

    @media screen and (min-width: 320px) and (max-width: 450px) {
            font-size: 14px;
        }

   

    color: var(--accent-color);
}

// .menu-social-networks__item {
//     font-size: 18px;
//     line-height: 1.222;
// }

.menu-social-networks__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid var(--menu-social-networks-border-color);
}